/* COMMON STYLES */

body {
	min-width: 900px;
	margin: 0px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
}

img {
	max-width: 100%;
	height: auto;
}

p,h3,h4,fieldset,input {
	margin: 0px;
}

fieldset,legend,input {
	padding: 0px;
}

fieldset{
	border: 0px;
}

a {
	text-decoration: none;
}


.text-accented {
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
}

.layout-positioner {
	width: 880px;
	padding: 0px 10px;
	margin: 0px auto;
}

.clearfix::after {
	display:table;
	clear:both;
	content:""
}

.btn {
	outline: none;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	font-family: inherit;
	line-height: 36px;
	background-color: #fb565a;
	color: #FFF;
	box-sizing: border-box;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
}

.btn:hover {
	background-color: #d6494d;
}

.btn:active {
	background-color: #b63538;
	box-shadow:  inset 0 3px rgba(0,0,0,0.15);
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:hover {
	background-color: #01a25e;
}

.btn-green:active {
	background-color: #009053;
	box-shadow:  inset 0 3px rgba(0,0,0,0.15);
}

.btn-yellow {
	background-color: #efc84a;
}

.btn-yellow:hover {
	background-color: #d6ae2c;
}

.btn-yellow:active {
	background-color: #c09b24;
	box-shadow:  inset 0 3px rgba(0,0,0,0.15);
}

.btn-gray {
	background-color: #f1f1f1;
	color: #000;
	border: 0;
}

.btn-gray:hover {
	background-color: #e5e5e5;
}

.btn-gray:active {
	background-color: #d5d5d5;
}

.red-mark {
	width: 25px;
	min-height: 2px;
	background-color: #fb565a;
	position: absolute;
	margin-left: -38px;
	margin-top: 9px;
}

/* MAIN HEADER */

.main-header {
	min-height: 328px;
	background-color: #EEE;
	color: #000;
	border-top: 1px solid transparent;
}

.main-header .top {
	margin-top: 25px;
}

.main-header .slider {
	margin-top: 40px;
	position: relative;
}

.main-header h1 {
	font-size: 40px;
	font-weight: normal;
	line-height: 48px;
	padding-top: 20px;
	padding-left: 105px;
	padding-right: 115px;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}

.main-logo {
	width: 140px;
	min-height: 60px;
	float: left;
}

.main-navigation {
	float: right;
	padding-top: 28px;
	font-size: 14px;
	line-height: 30px;
}

.main-navigation a:link, .main-navigation a:visited {
	color: #000;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #000;
	opacity: 0.4;
}

.main-navigation .on-page {
	border-bottom: solid 2px #fb565a;
	padding-bottom: 4px;
}

.menu-navigation {
	float: right;
}

.menu-navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.menu-navigation li {
	display: inline-block;
	vertical-align: top;
	padding-left: 42px;
	text-align: right;
	font-size: 14px;
}

.recycle-block {
	width: 100px;
	float: right;
	margin-left: 60px;
	text-align: right;
	font-size: 14px;
}

.recycle-block a::before {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding-right: 8px;
	content: "";
	background: url(../img/icon-basket-black.png) no-repeat;
	opacity: 0.3;
}

.recycle-block a:hover::before {
	background: url(../img/icon-basket-red.png) no-repeat;
}

.recycle-block a:active::before {
	opacity: 0.15;
	background: url(../img/icon-basket-black.png) no-repeat;
}


/* PROMO SLIDER */

input[type=radio],
.slide {
	display: none;
}

.slider-controls {
	width: 200px;
	position: absolute;
	right: 50%;
	bottom: 82px;
	margin-right: -100px;
	text-align: center;
}

.slider-controls label {
	display: inline-block;
	vertical-align: top;
	width: 4px;
	height: 4px;
	background-color: white;
	border: 3px solid white;
	border-radius: 50%;
	margin: 0 3px;
	cursor: pointer;
}

#slider1:checked ~ .slider-controls label[for="slider1"],
#slider2:checked ~ .slider-controls label[for="slider2"],
#slider3:checked ~ .slider-controls label[for="slider3"] {
	background-color: #c1c1c1;
}

.slide {
	height: 310px;
	background-repeat: no-repeat;
	background-position: 100% 10px;
}

#slider1:checked ~ .slides .slide:nth-child(1),
#slider2:checked ~ .slides .slide:nth-child(2),
#slider3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}

.slide:nth-child(1) {
	background-image: url('../img/slide1.png');
}

.slide:nth-child(2) {
	background-image: url('../img/slide2.png');
	display: none;
}
.slide:nth-child(3) {
	background-image: url('../img/slide3.png');
	display: none;
}

.slide .promo-text {
	width: 510px;
	float: left;
}

.promo-text b {
	display: block;
	padding-top: 28px;
}

.promo-text span {
	display: block;
	padding-top: 20px;
	padding-bottom: 27px;
}

.promo-text .btn {
	width: 240px;
}


/* MAIN BLOCK */

main {
	margin-top: 80px;
}

.main-page .layout-positioner {
	border-bottom: 2px #eee solid;
}

main .services {
	min-height: 378px;
	font-size: 0px;
}

/* MAIN SERVICES */

.service-item {
	display: inline-block;
	width: 240px;
	margin-right: 80px;
}

.service-item:last-child {
	margin-right: 0px;
}

.service-item h2 {
	font-size: 18px;
	margin-bottom: 17px;
}

.service-item p {
	font-size: 15px;
	margin-bottom: 27px;
}

.service-item .btn {
	width: 140px;
}

/* MAIN ABOUT-BRIEF */

.about-brief {
	margin-top: 58px;
	min-height: 413px;
}

.about-brief h2 {
	margin-top: 11px;
	margin-bottom: 17px;
}

.about-brief p {
	margin-bottom: 45px;
	color: #283136;
}

.about-brief h3.list-header {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	margin-bottom: 22px;
	color: #283136;
}

.about-brief .left-block {
	width: 570px;
	float: left;
}

.about-brief .right-block {
	width: 240px;
	float: right;
}

.about-brief ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #283136;
}

.about-brief li {
	padding-bottom: 22px;
	padding-left: 37px;
}

.about-brief img {
	margin-bottom: 64px;
}

/* MAIN SPONSORS */

.sponsors-block {
	margin-top: 46px;
	min-height: 120px;
}

.sponsor-item {
	display: inline-block;
	margin-left: 10px;
	margin-right: 110px;
	vertical-align: middle;
}

.sponsor-item:last-child {
	margin-right: 0px;
}

.sponsor-item img {
	opacity: 0.2;
	margin:
}

.sponsor-item img:hover {
	opacity: 1;
}

/* SETTINGS BLOCK */

.settings {
	width: 240px;
	float: left;
	font: inherit;
}

.settings fieldset {
	margin-bottom: 55px;
	font-size: 0px;
}

.settings legend {
	padding-bottom: 22px;
	font-size: 18px;
	line-height: 14px;
}

.settings label {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}

.settings .btn {
	width: 155px;
}

/* SETTINGS selectors */

.settings input[type=text] {
	display: inline-block;
	height: 38px;
	width: 80px;
	border: 0px;
	border-radius: 5px;
	background-color: #f1f1f1;
	vertical-align: middle;
	font-size: 16px;
	font-family: inherit;
	text-align: center;
	margin-left: 10px;
}

.settings input[type=text]:nth-of-type(1) {
	margin-right: 16px;
}

.settings .select-block {
	margin-bottom: 17px;
	padding-left: 34px;
	position: relative;
	height: 22px;
}

.settings .select-block:last-child {
	margin-bottom: 0px;
}

.settings input[type=radio] {
	display: none;
}

.settings input[type=radio] + label::before {
	display: inline-block;
	content: "";
	width: 18px;
	height: 18px;
	border: 3px solid #c1c1c1;
	border-radius: 50%;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: -1px;
}

.settings input[type=radio]:checked + label::after {
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	border: 5px solid #c1c1c1;
	border-radius: 50%;
	vertical-align: middle;
	position: absolute;
	left: 7px;
	top: 6px;
}

.settings input[type=checkbox] {
	display: none;
}

.settings input[type=checkbox] + label::before {
	display: inline-block;
	vertical-align: middle;
	content: "";
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/icon-check-off.png) no-repeat 0 0;
}

.settings input[type=checkbox]:checked + label::before {
	background: url(../img/icon-check-on.png) no-repeat 0 0;
}

/*.settings input[type=checkbox]:checked + label {
	display: none;
}*/

.settings button {
	width: 156px;
	height: 38px;
}

/* SETTINGS price-range */

.price-range {
	position: relative;
	width: 240px;
	height: 80px;
	border-radius: 5px;
	background-color: #f1f1f1;
	margin-bottom: 14px;
}

.price-range .outer-ring {
	position: absolute;
	left: 20px;
	top: 30px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow:  0 2px rgba(0,1,1,0.15);
}

.price-range .outer-ring:nth-child(1) {
	left: 160px;
}

.price-range .inner-ring {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #ababab;
}

.price-range .green-line {
	position: absolute;
	top: 39px;
	left: 40px;
	width: 120px;
	height: 2px;
	background-color: #00ca74;
}

.price-range .gray-line {
	position: absolute;
	top: 39px;
	left: 180px;
	width: 40px;
	height: 2px;
	background-color: #d7dcde;
}

/* LAYOUTS-CATALOG */

.layouts-catalog {
	width: 560px;
	float: right;
}

/* LAYOUTS-CATALOG sort-links*/

.sort-links {
	margin-bottom: 19px;
	font-size: 12px;
	line-height: 17px;
}

.sort-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

.sort-links a {
	color: #000;
}

.sort-links li {
	display: inline-block;
	vertical-align: top;
	margin-left: 44px;
	height: 18px;
	border-bottom: 1px dotted #00ca74;
	opacity: 0.3;
}

.sort-links li:first-child {
	margin-left: 38px;
}

.sort-links li:hover {
	border-bottom: 1px solid #00ca74;
	opacity: 1;
}

.sort-links li:active,
.sort-links .link-active {
	opacity: 1;
	border-bottom: none;
}

.sort-links .toggle-down {
	border-top: 10px solid #c1c1c1;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	float: right;
}

.sort-links .toggle-up {
	border-bottom: 10px solid #c1c1c1;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	float: right;
	margin-left: 7px;
}

.sort-links .toggle-down:hover {
	border-top: 10px solid #b5b5b5;
}

.sort-links .toggle-up:hover {
	border-bottom: 10px solid #b5b5b5;
}

.sort-links .toggle-down:active {
	border-top: 10px solid #000;
}

.sort-links .toggle-up:active {
	border-bottom: 10px solid #000;
}

.toggle-up.toggle-sorted {
	border-bottom: 10px solid #00ca74;
}

.toggle-down.toggle-sorted {
	border-top: 10px solid #00ca74;
}

/* LAYOUTS-CATALOG layout_small*/

.layout-small {
	float: left;
	width: 240px;
	height: 270px;
	padding-bottom: 80px;
	position: relative;
	text-align: center;
}

.layout-small:nth-of-type(2n+1) {
	float: right;
}

.layout-small-top {
	height: 30px;
	background-color: #f1f1f1;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.layout-small:hover .layout-small-top {
	background-color: #797979;
}

.layout-small .white-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	float: left;
	margin-left: 8px;
	margin-top: 10px;
}

.layout-small .white-circle:first-child {
	margin-left: 13px;
}

.layout-small .inner-block {
	display: none;
}

.layout-small:hover .inner-block {
	display: block;
	width: 200px;
	height: 200px;
	background-color: white;
	position: absolute;
	left: 20px;
	top: 50px;
	padding: 30px;
	padding-bottom: 0px;
	box-sizing: border-box;
}

.layout-small .inner-block b {
	display: block;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	padding-bottom: 14px;
}

.layout-small .inner-block p {
	display: block;
	height: 60px;
	font-size: 14px;
	line-height: 18px;
}

.layout-small .inner-block .btn {
	width: 100%;
	font-size: 18px;
	line-height: 38px;
}

.layouts-catalog .buttons-block {
	float: left;
}

.layouts-catalog button {
	width: 36px;
	height: 36px;
	margin-right: 8px;
}

.layouts-catalog button:last-child {
	width: 140px;
}

.layouts-catalog button:disabled {
	background-color: #fff;
	border: 2px solid #f1f1f1;
}

.layouts-catalog button:disabled:active	{
	box-shadow: none;
}

/* FOOTER BLOCK */

.main-footer {
	margin-top: 86px
}

.find-us-map {
	position: relative;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.mark-on-map {
	position: absolute;
	left: 840px;
	top: 110px;
}

.main-footer .write-us {
	width: 208px;
	height: 186px;
	position: absolute;
	left: 160px;
	top: 85px;
	background-color: white;
	padding: 28px 22px 26px 20px;
}

.main-footer .write-us b {
	padding-bottom: 20px;
	display: block;
}

.main-footer .write-us p {
	padding-bottom: 20px;
	line-height: 20px;
	color: #666666;
}

.main-footer .write-us .btn {
	position: relative;
	top: 10px;
	width: 100%;
}

/* FOOTER SOCIAL */

.main-footer-social {
	margin-top: 68px;
	margin-bottom: 70px;
}

.main-footer-social .left-block {
	width: 310px;
	float: left;
	padding-top: 5px;
}

.main-footer-social .right-block {
	width: 550px;
	padding: 0 10px;
	float: left;
}

.main-footer-social p.text-accented {
	margin-bottom: 10px;
}

.main-footer-social .social-item {
	display: inline-block;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	background: url(../img/icons.png) no-repeat #e1e1e1;
	border-radius: 50%;
	float: left;
	margin-right: 29px;
	padding-top: 15px;
	text-align: center;
	font-size: 0;
}

.main-footer-social .social-vk {
	background-position: 0 0;
}

.main-footer-social .social-fb {
	background-position: -61px 0;
}

.main-footer-social .social-instag {
	background-position: -121px 0;
}

.main-footer-social .social-item:hover {
	background-color: #fb565a;
}

.main-footer-social .social-item:active {
	background-color: #d6494d;
}

/* MODAL FORM */

.modal-form {
	display: none;
	width: 460px;
	min-height: 364px;
	position: fixed;
	background-color: white;
	top: 100px;
	left: 50%;
	margin-left: -320px;
	z-index: 100;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.75);
	padding-top: 54px;
	padding-left: 80px;
	padding-right: 88px;
}

@keyframes bounce {
	0%   {transform: translateY(-2000px);}
	70%	 {transform: translateY(30px);}
	90%  {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}

@@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.modal-form-show {
	display: block;
	animation: bounce 0.6s;
}

.modal-form-error {
	display: block;
	animation: shake 0.6s;
}

button.modal-form-close {
	outline: none;
	border: none;
	background: none;
	font-size: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FB565A;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

button.modal-form-close::before,
button.modal-form-close::after {
	content: "";
	width: 24px;
	height: 5px;
	background-color: white;
	position: absolute;
	top: 18px;
	left: 8px;
}

button.modal-form-close::before {
	transform: rotate(45deg);
}

button.modal-form-close::after {
	transform: rotate(135deg);
}

.modal-form .input-block {
	width: 220px;
	float: left;
}

.modal-form .input-block:nth-of-type(2) {
	float: right;
}

.modal-form .input-block:nth-of-type(3) {
	width: 100%;
}

.modal-form label {
	display: block;
	line-height: 18px;
	margin-bottom: 10px;
}

.modal-form input,
.modal-form textarea {
	border: 2px solid #d7dcde;
	border-radius: 3px;
	font-family: inherit;
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	box-sizing: border-box;
}

.modal-form input:hover,
.modal-form textarea:hover {
	border-color: #a2a9ac;
}

.modal-form input:focus,
.modal-form textarea:focus {
	border-color: #56bffb;
}

.modal-form input {
	width: 100%;
	padding: 8px 14px;
	margin-bottom: 20px;
}

.modal-form textarea {
	width: 100%;
	height: 110px;
	padding: 8px 14px;
	resize: none;
	margin-bottom: 46px;
}

.modal-form .btn {
	width: 100%;
	border: none;
	padding: 0;
	line-height: 38px;
}
