/* COMMON STYLES */

body,p,h1,h2,h3,h4,ul,fieldset,input {
	margin: 0px;
}

ul,fieldset,legend,input {
	padding: 0px;
	list-style-type: none;
}

fieldset,input {
	border: 0px;
}

ul {
	display: inline-block;
}

a {
	text-decoration: none;
}

button {
	font-size: 12px;
	text-transform: uppercase;
	background-color: #f1f1f1;
	border: 0;
	border-radius: 5px;
}

.text-accented {
	font-size: 36px;
}

.layout-positioner {
	width: 880px;
	padding: 0px 10px;
	margin: 0px auto;
	border: solid 1px violet;
}

.clearfix::after {
	display:table;
	clear:both;
	content:""
}

.btn {
	border: 1px dotted black;
	display: inline-block;
	font-size: 12px;
	height: 38px;
	box-sizing: border-box;
	padding-top: 10px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
}

.red-mark {
	width: 25px;
	min-height: 2px;
	background-color: #fb565a;
	position: absolute;
	margin-left: -40px;
	margin-top: 8px;
}

/* MAIN HEADER */

.main-header {
	min-height: 328px;
	background-color: #EEE;
	border-top: 1px solid transparent;
}

.main-header .layout-positioner:nth-child(1) {
	margin-top: 25px;
}

.main-header .layout-positioner:nth-child(2) {
	margin-top: 40px;
}

.main-header h1 {
	font-size: 40px;
	padding-top: 10px;
	text-transform: uppercase;
	text-align: center;
}

.main-logo {
	width: 140px;
	min-height: 70px;
	float: left;
	border: solid 1px;
}

.main-navigation {
	width: 500px;
	min-height: 44px;
	float: right;
	padding-top: 26px;
	border: solid 1px;
}

.main-navigation li {
	display: inline;
	padding-left: 45px;
	text-align: right;
	font-size: 14px;
}

.recycle-block {
	width: 100px;
	min-height: 44px;
	float: right;
	padding-left: 60px;
	padding-top: 26px;
	border: solid 1px;
	text-align: right;
	font-size: 14px;
}

/* PROMO SLIDER */

.promo-left {
	width: 470px;
	float: left;
	min-height: 310px;
	border: solid 1px;
}

.promo-right {
	width: 340px;
	float: right;
	min-height: 310px;
	border: solid 1px;
}

.promo-text b {
	display: block;
}

.promo-text span {
	display: block;
	padding-top: 20px;
	padding-bottom: 30px;
}

.promo-text .btn {
	width: 240px;
}

.slider-checkbox-outer {
	display: inline-block;
	float: right;
	width: 10px;
	height: 10px;
	background-color: #FFF;
	border-radius: 50%;
	margin-right: 10px;
}

.slider-checkbox-outer:first-of-type {
	margin-right: 16px;
}

/* MAIN BLOCK */

main {
	margin-top: 80px;
}

main .layout-positioner {
	border-bottom: 2px #eee solid;
}

main .services {
	min-height: 380px;
	font-size: 0px;
}

/* MAIN SERVICES */

.service-item {
	display: inline-block;
	width: 240px;
	margin-right: 80px;
}

.service-item:last-child {
	margin-right: 0px;
}

.service-item img {
	margin-bottom: 22px;
}

.service-item h2 {
	font-size: 18px;
	margin-bottom: 18px;
}

.service-item p {
	font-size: 15px;
	margin-bottom: 28px;
}

.service-item .btn {
	width: 140px;
}

/* MAIN ABOUT-BRIEF */

.about-brief {
	margin-top: 75px;
	min-height: 405px;
}

.about-brief h2 {
	font-size: 36px;
	margin-bottom: 14px;
}

.about-brief p {
	font-size: 16px;
	margin-bottom: 38px;
}

.about-brief h3.list-header {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 28px;
}

.about-brief .left-block {
	width: 570px;
	float: left;
	border: solid 1px;
}

.about-brief .right-block {
	width: 240px;
	float: right;
	border: solid 1px;
}

.about-brief li {
	font-size: 16px;
	padding-bottom: 28px;
	padding-left: 40px;
}

.about-brief img {
	padding-bottom: 54px;
}

/* MAIN SPONSORS */

.sponsors-block {
	margin-top: 46px;
	min-height: 120px;
}

.sponsor-item {
	display: inline-block;
	margin-right: 120px;
	vertical-align: middle;
}

.sponsor-item:last-child {
	margin-right: 0px;
}

.sponsor-item img {
	opacity: 0.2;
}

.sponsor-item img:hover {
	opacity: 1;
}

/* SETTINGS BLOCK */

form.settings {
	border: 1px solid black;
	width: 240px;
	float: left;
	font-size: 0px;
}

.settings fieldset {
	margin-bottom: 50px;
}

.settings legend {
	padding-bottom: 14px;
	font-size: 18px;
}

.settings label {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}

/* SETTINGS selectors */

.settings input[type=text] {
	display: inline-block;
	height: 38px;
	width: 80px;
	border-radius: 5px;
	background-color: #f1f1f1;
	vertical-align: middle;
	font-size: 16px;
	margin-left: 10px;
}

.settings input[type=text]:nth-of-type(1) {
	margin-right: 16px;
}

.settings input[type=radio] {
	display: none;
}

.settings input[type=radio] + span {
	display: inline-block;
	content: "";
	width: 22px;
	height: 22px;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 8px;
}

.settings input[type=checkbox] {
	display: none;
}

.settings input[type=checkbox] + span {
	display: inline-block;
	content: "";
	width: 26px;
	height: 26px;
	border: 2px solid #c1c1c1;
	border-radius: 5px;
	vertical-align: middle;
	margin-right: 8px;
}

.settings .select-block {
	margin-bottom: 16px;
}

.settings .select-block:last-child {
	margin-bottom: 0px;
}

.settings button {
	width: 156px;
	height: 38px;
}

/* SETTINGS price-range */

.price-range {
	position: relative;
	width: 240px;
	height: 80px;
	border-radius: 5px;
	background-color: #f1f1f1;
	margin-bottom: 14px;
}

.price-range .outer-ring {
	position: absolute;
	left: 20px;
	top: 30px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow:  0 2px rgba(0,1,1,0.15);
}

.price-range .outer-ring:nth-child(1) {
	left: 160px;
}

.price-range .inner-ring {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #ababab;
}

.price-range .green-line {
	position: absolute;
	top: 39px;
	left: 40px;
	width: 120px;
	height: 2px;
	background-color: #00ca74;
}

.price-range .gray-line {
	position: absolute;
	top: 39px;
	left: 180px;
	width: 40px;
	height: 2px;
	background-color: #d7dcde;
}

/* LAYOUTS-CATALOG */

.layouts-catalog {
	border: 1px solid black;
	width: 560px;
	float: right;
}

/* LAYOUTS-CATALOG sort-links*/

.sort-links {
	margin-bottom: 22px;
	font-size: 12px;
	padding-top: 5px;
}

.sort-links li {
	display: inline-block;
	margin-left: 44px;
}

.sort-links li:first-child {
	display: inline-block;
	margin-left: 38px;
}

.sort-links .toggle-up {
	border-top: 10px solid #00ca74;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	float: right;
}

.sort-links .toggle-down {
	border-bottom: 10px solid #00ca74;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	float: right;
	margin-left: 7px;
}

/* LAYOUTS-CATALOG layout_small*/

.layout-small {
	float: left;
	width: 240px;
	height: 270px;
	padding-bottom: 80px;
	position: relative;
	text-align: center;
}

.layout-small:nth-of-type(2n+1) {
	float: right;
}

.layout-small-top {
	height: 30px;
	background-color: #f1f1f1;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.layout-small:hover .layout-small-top {
	background-color: #797979;
}

.layout-small .white-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	float: left;
	margin-left: 8px;
	margin-top: 10px;
}

.layout-small .white-circle:first-child {
	margin-left: 13px;
}

.layout-small .inner-block {
	display: none;
}

.layout-small:hover .inner-block {
	display: block;
	width: 200px;
	height: 200px;
	background-color: white;
	position: absolute;
	left: 20px;
	top: 50px;
	padding: 30px;
	padding-bottom: 0px;
	box-sizing: border-box;
}

.layout-small .inner-block b {
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 14px;
}

.layout-small .inner-block p {
	display: block;
	height: 60px;
	font-size: 14px;
}

.layout-small .inner-block .btn {
	width: 100%;
	font-size: 18px;
	padding-top: 6px;
}

.layouts-catalog .buttons-block {
	float: left;
}

.layouts-catalog button {
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.layouts-catalog button:last-child {
	width: 140px;
}

/* FOOTER BLOCK */

.main-footer {
	margin-top: 86px
}

.find-us-map {
	position: relative;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.mark-on-map {
	position: absolute;
	left: 840px;
	top: 110px;
}

.main-footer .write-us {
	width: 208px;
	height: 186px;
	position: absolute;
	left: 160px;
	top: 85px;
	background-color: white;
	padding: 28px 22px 26px 20px;
}

.main-footer .write-us b {
	padding-bottom: 20px;
	display: block;
}

.main-footer .write-us p {
	padding-bottom: 25px;
}

.main-footer .write-us .btn {
	width: 100%;
}

/* FOOTER SOCIAL */

.main-footer-social {
	margin-top: 80px;
	margin-bottom: 70px;
}

.main-footer-social .left-block {
	width: 310px;
	float: left;
	padding-top: 8px;
}

.main-footer-social .right-block {
	width: 550px;
	padding: 0 10px;
	float: left;
}

a.social-roundel {
	display: inline-block;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	background-color: #e1e1e1;
	border-radius: 50%;
	float: left;
	margin-right: 26px;
	padding-top: 15px;
	text-align: center;
}
